body {
    font-family: "Poppins", sans-serif;
  }
  
  .page-title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 500;
  }
  
  .section-title {
    font-size: 20px;
    font-weight: 500;
    font-family: "Oswald", sans-serif;
  }
  
  .club-list .title {
    font-size: 16px;
    font-family: "Oswald", sans-serif;
    font-weight: bolder;
    
  }
  .svg {
    fill: black;
  }